    body{
    font-family: 'Open Sans', sans-serif;
    }
    nav{
        display:flex ;
    }
    nav h1{
        width: 50%;
        margin: 15px 30px;
        font-size: 2rem;
    }
    nav ul{
        width: 50%;
        display: flex;
        margin: 10px;
        font-size: 1.3rem;
        font-weight:bold;
        
    }
    nav li{
        margin: 20px;
        list-style: none;
        
    }
    nav a{
        text-decoration: none;

    }